<!DOCTYPE html>
<html>

<head>
    <title>About</title>
</head>

<body>

    <%- include('navbar.ejs') %>

        <div class="container mt-5">
            <div class="card shadow p-4">
                <h2>About Course Portal</h2>
                <p>
                    This Course Portal is built using Node.js, Express, and EJS.
                    It helps students explore available courses easily.
                    Each course displays duration and fees clearly.
                    Simple routing and dynamic rendering are used.
                </p>
            </div>
        </div>

        <%- include('footer.ejs') %>

</body>

</html>